<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nutri-Green Chemical Inventory Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">On My Truck Report</a></li>
                <li><a href="home#!/addInventory">Add Inventory</a></li>
                <li><a href="home#!/logUsage">Log Daily Usage</a></li>
                <li><a href="home#!">Usage History</a></li>
                <li><a href="home#!">Export Inventory Report</a></li>
                <li><a href="home#!/reportIssue">Report Issue</a></li>
            </ul>

            <ul class="nav nav-sidebar" ng-if="<%=user.local.isAdmin%>">
                <h4 style="padding-left: 20px">Admin</h4>
                <li><a href="home#!/addService">Add New Service</a></li>
                <li><a href="home#!/editService">Edit Service</a></li>
                <li><a href="home#!/addChemical">Add New Chemical</a></li>
                <li><a href="home#!/editChemical">Edit Chemical</a></li>
                <li><a href="home#!/addTruck">Add New Truck</a></li>
                <li><a href="home#!/editTruck">Edit Truck</a></li>
                <li><a href="/signup">Add New User</a></li>
                <li><a href="home#!/resetUserPassword">Reset User Password</a></li>

            </ul>
        </div>
<main ng-view class="container-fluid" role="main"></main>
</body>

<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/angular-route.min.js"></script>
<script src="/javascripts/angular-sanitize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/routeConfig.js"></script>
<script src="/javascripts/dataServices.js"></script>
<script src="/javascripts/homeController.js"></script>
<script src="/javascripts/resetUserController.js"></script>
<script src="/javascripts/addServiceController.js"></script>
<script src="/javascripts/addChemicalController.js"></script>
<script src="/javascripts/editChemicalController.js"></script>
<script src="/javascripts/editServiceController.js"></script>
<script src="/javascripts/addTruckController.js"></script>
<script src="/javascripts/editTruckController.js"></script>
</html>
