<div class="col-sm-8 col-sm-offset-2">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-sign-in"></span> Add Chemical</h1>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" ng-model="vm.name" name="ChemicalName">
		</div>
		<div class="form-group col-lg-6">
			<label>Type</label>
			<input type="text" class="form-control" ng-model="vm.type" name="ChemicalType"/>
		</div>
		<div class="form-group col-lg-6">
			<label>Total Full Amount</label>
			<input type="text" class="form-control" ng-model="vm.amountPerUnit" name="amountPerUnit"/>
		</div>
		<div class="form-group col-lg-6">
			<label>Unit Of Measurement of Chemical</label>
			<input type="text" class="form-control" ng-model="vm.amountUnit" name="amountUnit"/>
		</div>
		<div class="form-group col-lg-6">
			<label>Mix Rate</label>
			<input type="text" class="form-control" ng-model="vm.mixPerUnit" name="mixPerUnit"/>
		</div>
		<div class="form-group col-lg-6">
			<label>Mix Rate Unit Of Measurement</label>
			<input type="text" class="form-control" ng-model="vm.mixUnit" name="mixUnit"/>
		</div>
		<div class="form-group col-lg-6">
			<label>Price</label>
			<input type="text" class="form-control" ng-model="vm.price" name="price"/>
		</div>
		<div class="form-group">
			<label ng-repeat="service in vm.services" class="checkbox-inline">
				<input type="checkbox"  ng-model="service.checked" ng-change="vm.addService()"> {{service.name}}
			</label>
		</div>

		<div>
			<input type="submit" class="form-control" ng-click="vm.addChemical()" />
		</div>
	</div>
</div>