<div class="col-sm-8 col-sm-offset-2">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-sign-in"></span> Add A Truck</h1>
		<div class="form-group">
			<label>Truck Name</label>
			<input type="text" class="form-control" ng-model="vm.name" name="TruckName">
		</div>
		<div class="form-group">
			<label>Default User</label>
			<select ng-model="vm.defaultUser" class="form-control" ng-options="user for user in vm.users"></select>
		</div>
		<div class="form-group">
				<button type="button" class="btn btn-default" ng-repeat="equipment in vm.equipment trackBy $index" ng-click="addEquipment(equipment)">{{equipment.name}} <span class="badge">{{equipment.id}}</span></button>
		</div>
		<div>
			<input type="submit" class="form-control" ng-click="vm.addTruck()" />
		</div>
	</div>
</div>