<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">On My Truck Report<span class="sr-only">(current)</span></a></li>
				<li><a href="#">Add Inventory</a></li>
				<li><a href="#">Log Daily Usage</a></li>
				<li><a href="#">Usage History</a></li>
				<li><a href="#">Export Inventory Report</a></li>
				<li><a href="#">Report Issue</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Dashboard</h1>

			<div class="row placeholders">
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Chemical 1</h4>
					<span class="text-muted">Amount on Truck (Amount or Percent)</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Chemical 2</h4>
					<span class="text-muted">Amount on Truck (Amount or Percent)</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Chemical 3</h4>
					<span class="text-muted">Amount on Truck (Amount or Percent)</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Chemical 4</h4>
					<span class="text-muted">Amount on Truck (Amount or Percent)</span>
				</div>
			</div>

			<h2 class="sub-header">Spreadsheet Report of Inventory(read only, use the left menu to change values)</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Chemical Name</th>
						<th>Chemical Type</th>
						<th>Amount Used Today</th>
						<th>Coverage Amount Used</th>
						<th>Amount Truck Remaining</th>
						<th>Coverage Amount Remaining</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Dimension 2EW</td>
						<td>Liquid</td>
						<td>43 oz</td>
						<td>114,000 Sq Ft</td>
						<td>25 oz</td>
						<td>34,000 Sq Ft</td>
					</tr>
					<tr>
						<td>GulfStream</td>
						<td>Liquid</td>
						<td>34 oz</td>
						<td>114,000 Sq Ft</td>
						<td>14 oz</td>
						<td>34,000 Sq Ft</td>
					</tr>
					<tr>
						<td>GulfStream</td>
						<td>Liquid</td>
						<td>77 oz</td>
						<td>114,000 Sq Ft</td>
						<td>41 oz</td>
						<td>34,000 Sq Ft</td>
					</tr>
					<tr>
						<td>Talstar</td>
						<td>Liquid</td>
						<td>9 oz</td>
						<td>60,000 Sq Ft</td>
						<td>24 oz</td>
						<td>312,000 Sq Ft</td>
					</tr>
					<tr>
						<td>Permethrin</td>
						<td>Granuals</td>
						<td>25 lbs</td>
						<td>13,000 Sq Ft</td>
						<td>0 lbs</td>
						<td>0 Sq Ft</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>